/* Global CSS Settings */

.row, body {
    display: block;
    background-color: #0D1B1E;
    padding-top: 25px;
    font-family: Futura, "Trebuchet MS", Arial, sans-serif
}

.panel {
    width: 100% !important;
}

.footer {
    background-color: #7798AB;
    font: 20px;
    color: white;
    text-align: center;
    padding: 20px;
    position: fixed;
    left: 0;
    bottom: 0;
    height: 60px;
    width: 100%
  }

@media (max-width: 767px) {
    /* On small screens, the nav menu spans the full width of the screen. Leave a space for it. */
    body {
        padding-top: 50px;
    }
}
