.top {
  height: 300px;
  padding-bottom: 25px;
  margin-bottom: 25px;
}

.tunes {
  width: 50%;
  float: left;
}

.activeusers {
  width: 50%;
  float: right;
  overflow-y: auto;
}

.bottom {
  height: 50%;
}

.back-btn {
  float: right;
}