.message-container {
  width: 70%;
  margin: auto;
  padding-top: 0;
}

.banana {
  height: 200px;
  overflow-y: auto;
  background-color: whitesmoke;
}
.inputbox {
  width: 75%;
}

.send {
  width: 25%;
}

.xyz {
  padding-left: 10px;
  padding-right: 10px;
}

.abc {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border: solid black 3px;
  border-radius: 5px;
}