.container-rooms {
  margin: auto;
  padding-top: 25px;
}

.rooms-heading {
  float: left;
}

.new-btn {
  float: right;
}

.view {
  float: right;
}

.list {
  padding: 40px;
  margin: auto;
}

.panel {
  display: block;
  list-style-type: disc;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 0px;
  width: 90%;
}

.footer-rooms {
  background-color: #C3DBC5;
  font: 20px;
  color: white;
  border-top: 1px solid #E7E7E7;
  text-align: center;
  padding: 20px;
  /* position: fixed; */
  left: 0;
  bottom: 0;
  height: 60px;
  width: 100%
}