.new-btn {
  float: right;
}

.view {
  float: right;
}

.list {
  padding-right: 40px;
  margin-right: 40px;
}

ul, menu, dir {
  display: block;
  list-style-type: disc;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 0px;
  width: 90%;
}